.profile {

  &__title--wide--background {
    background-color: #fafafa;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 200px solid $MackeyOrange;
      border-left: 150px solid transparent;
      float: right;
      mix-blend-mode: multiply;
    }
  }

  &__title--background {
    padding: 1rem;
  }

}
